services:
  backend:
    image: ghcr.io/hedgedoc/hedgedoc/backend:2.0.0-alpha.3
    volumes:
      - ./.env:/usr/src/app/backend/.env
      - hedgedoc_uploads:/usr/src/app/backend/uploads
  frontend:
    env_file:
      - path: ./.env
        required: false
    image: ghcr.io/hedgedoc/hedgedoc/frontend:2.0.0-alpha.3
  db:
    environment:
      POSTGRES_USER: "${HD_DATABASE_USER}"
      POSTGRES_PASSWORD: "${HD_DATABASE_PASS}"
      POSTGRES_DB: "${HD_DATABASE_NAME}"
    image: postgres:18
    volumes:
      - hedgedoc_postgres:/var/lib/postgresql
  proxy:
    environment:
      HD_BASE_URL: "${HD_BASE_URL}"
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    restart: unless-stopped
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
volumes:
  caddy_data:
  hedgedoc_uploads:
  hedgedoc_postgres:
