---
# https://hub.docker.com/_/matomo/
# https://github.com/matomo-org/docker

networks:
  database:
    external: true

services:
  matomo:
    image: matomo:latest
    container_name: matomo
    hostname: matomo
    restart: unless-stopped
    volumes:
      - ./html:/var/www/html
    ports:
      - ${SERV_PORT:-80}:80
    networks:
      - database
