---
# https://hub.docker.com/r/drone/drone

services:
  drone-server:
    image: drone/drone:2
    container_name: drone-server
    hostname: drone
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - ${HTTP_PORT:-80}:80
      - ${HTTPS_PORT:-443}:443
    volumes:
      - ./data:/data

  drone-runner:
    image: drone/drone-runner-docker:1
    container_name: drone-runner
    hostname: drone
    restart: unless-stopped
    env_file:
      - ./.env
    depends_on:
      - drone-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
