---
# https://hub.docker.com/r/drone/drone

services:
  server:
    image: drone/drone:2
    container_name: drone-server
    hostname: drone
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 80:80
      - 443:443

  runner:
    image: drone/drone-runner-docker:1
    container_name: drone-runner
    hostname: drone
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    depends_on:
      - server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
