# CUSTOM
TZ=Asia/Shanghai
HTTP_PORT=80
HTTPS_PORT=443

# server
DRONE_GITEA_SERVER=https://try.gitea.io
DRONE_GITEA_CLIENT_ID=05136e57d80189bef462
DRONE_GITEA_CLIENT_SECRET=7c229228a77d2cbddaa61ddc78d45e
DRONE_RPC_SECRET=super-duper-secret
DRONE_SERVER_HOST=drone.company.com
DRONE_SERVER_PROTO=https

# client
DRONE_RPC_PROTO=http
DRONE_RPC_HOST=drone-server
DRONE_RUNNER_CAPACITY=2
DRONE_RUNNER_NAME=my-drone-runner
