---

# https://hub.docker.com/r/hoppscotch/hoppscotch
services:
  postgres:
    image: postgres:18
    hostname: postgres
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    profiles:
      - init
      - aio
      - one

  aio:
    image: hoppscotch/hoppscotch:latest
    hostname: hoppscotch
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
      - path: ./aio.env
        required: false
    ports:
      - 80:80
      - 3200:3200
    profiles:
      - aio

  admin:
    image: hoppscotch/hoppscotch-admin:latest
    hostname: hoppscotch
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
      - path: ./one.env
        required: false
    ports:
      - 80:80
    profiles:
      - one
  frontend:
    image: hoppscotch/hoppscotch-frontend:latest
    hostname: hoppscotch
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
      - path: ./one.env
        required: false
    ports:
      - 80:80
    profiles:
      - one
  backend:
    image: hoppscotch/hoppscotch-backend:latest
    hostname: hoppscotch
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
      - path: ./one.env
        required: false
    ports:
      - 80:80
    depends_on:
      - postgres
    profiles:
      - one
