---
# https://hub.docker.com/r/hoppscotch/hoppscotch
services:
  postgres:
    env_file:
      - path: ./.env
        required: false
    hostname: postgres
    image: postgres:18
    profiles:
      - init
      - aio
      - one
    restart: unless-stopped
  aio:
    env_file:
      - path: ./.env
        required: false
      - path: ./aio.env
        required: false
    hostname: hoppscotch
    image: hoppscotch/hoppscotch:latest
    ports:
      - 80:80
      - 3200:3200
    profiles:
      - aio
    restart: unless-stopped
  admin:
    env_file:
      - path: ./.env
        required: false
      - path: ./one.env
        required: false
    hostname: hoppscotch
    image: hoppscotch/hoppscotch-admin:latest
    ports:
      - 80:80
    profiles:
      - one
    restart: unless-stopped
  frontend:
    env_file:
      - path: ./.env
        required: false
      - path: ./one.env
        required: false
    hostname: hoppscotch
    image: hoppscotch/hoppscotch-frontend:latest
    ports:
      - 80:80
    profiles:
      - one
    restart: unless-stopped
  backend:
    depends_on:
      - postgres
    env_file:
      - path: ./.env
        required: false
      - path: ./one.env
        required: false
    hostname: hoppscotch
    image: hoppscotch/hoppscotch-backend:latest
    ports:
      - 80:80
    profiles:
      - one
    restart: unless-stopped
