---
# https://hub.docker.com/r/diygod/rsshub

volumes :
  redis-data:

services:
  rsshub:
    image: diygod/rsshub:latest
    container_name: rsshub
    hostname: rsshub
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 1200:1200
    depends_on:
      - redis
      - browserless

  browserless:
    # See issue 6680
    image: browserless/chrome:1.43-chrome-stable
    hostname: browserless
    restart: unless-stopped
    ulimits:
      core:
        hard: 0
        soft: 0

  redis:
    image: redis:alpine
    hostname: redis
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    volumes:
      - redis-data:/data
