---
# https://github.com/DIYgod/RSSHub

volumes :
  redis-data:

services:
  rsshub:
    image: diygod/rsshub:latest
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      NODE_ENV: production
      CACHE_TYPE: redis
      REDIS_URL: redis://redis:6379/
      PUPPETEER_WS_ENDPOINT: ws://browserless:3000
    ports:
    - ${SERV_PORT}:1200
    depends_on:
    - redis
    - browserless

  browserless:
    # See issue 6680
    image: browserless/chrome:1.43-chrome-stable
    restart: unless-stopped
    ulimits:
      core:
        hard: 0
        soft: 0

  redis:
    image: redis:alpine
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
    volumes:
    - redis-data:/data
