---
# https://hub.docker.com/r/whyour/qinglong
# https://github.com/whyour/qinglong

services:
  qinglong:
    image: whyour/qinglong:latest
    container_name: qinglong
    restart: unless-stopped
    ports:
      - ${SERV_PORT:-5700}:5700
    volumes:
      - ./data:/ql/data
