---
# https://hub.docker.com/r/vaultwarden/server

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    hostname: vaultwarden
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 80:80
