---
# https://hub.docker.com/r/gitea/gitea
services:
  server:
    container_name: gitea
    depends_on:
      - db
    env_file:
      - path: ./.env
        required: false
    hostname: gitea
    image: gitea/gitea:latest
    ports:
      - 3000:3000
      - 22:22
    restart: unless-stopped
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
  db:
    env_file:
      - path: ./.env
        required: false
    hostname: postgres
    image: postgres:18
    restart: unless-stopped
  caddy:
    depends_on:
      - server
    hostname: caddy
    image: caddy:latest
    ports:
      - 80:80
      - 443:443
    profiles:
      - caddy
    restart: unless-stopped
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
  nginx:
    command: nginx
    depends_on:
      - server
    hostname: nginx
    image: nginx:alpine
    ports:
      - 80:80
      - 443:443
    profiles:
      - nginx
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
