---

services:
  server:
    image: gitea/gitea:latest
    container_name: gitea
    hostname: gitea
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 3000:3000
      - 22:22
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db
  db:
    image: postgres:18
    hostname: postgres
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false

  caddy:
    image: caddy:latest
    hostname: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - server
    profiles:
      - caddy

  nginx:
    image: nginx:alpine
    hostname: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    command: nginx
    depends_on:
      - server
    profiles:
      - nginx
