---
# https://hub.docker.com/r/gitea/gitea
services:
  gitea:
    container_name: gitea
    depends_on:
      - db
    env_file:
      - path: ./.env
        required: false
    hostname: gitea
    image: gitea/gitea:latest
    ports:
      - 3000:3000
      - 22:22
    restart: unless-stopped
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  runner:
    container_name: gitea-runner
    env_file:
      - path: ./.env
        required: false
    hostname: gitea-runner
    image: gitea/act_runner:nightly
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config.yaml:/config.yaml

  db:
    env_file:
      - path: ./.env
        required: false
    hostname: postgres
    image: postgres:18
    restart: unless-stopped
