---
# https://codeberg.org/forgejo/forgejo
services:
  forgejo:
    container_name: forgejo
    depends_on:
      - db
    env_file:
      - path: ./.env
        required: false
    hostname: forgejo
    image: codeberg.org/forgejo/forgejo:14
    ports:
      - 3000:3000
      - 22:22
    restart: unless-stopped
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  runner:
    container_name: forgejo-runner
    env_file:
      - path: ./.env
        required: false
    hostname: forgejo-runner
    image: code.forgejo.org/forgejo/runner:12
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config.yaml:/config.yaml

  db:
    env_file:
      - path: ./.env
        required: false
    hostname: postgres
    image: postgres:18
    restart: unless-stopped
