---
# https://hub.docker.com/r/jpillora/cloud-torrent

services:
  cloud-torrent:
    image: jpillora/cloud-torrent:latest
    container_name: cloud-torrent
    hostname: cloud-torrent
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 3000:3000
