---
# https://hub.docker.com/u/woodpeckerci

volumes :
  woodpecker-data:

services:
  server:
    image: woodpeckerci/woodpecker-server:latest
    container_name: woodpecker-server
    hostname: server
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 8000:8000
    volumes:
      - woodpecker-data:/var/lib/woodpecker/

  agent:
    image: woodpeckerci/woodpecker-agent:latest
    container_name: woodpecker-agent
    hostname: agent
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: agent
    depends_on:
      - server
