---
# https://hub.docker.com/u/woodpeckerci
services:
  server:
    container_name: woodpecker-server
    env_file:
      - path: ./.env
        required: false
    hostname: server
    image: woodpeckerci/woodpecker-server:latest
    ports:
      - 8000:8000
    restart: unless-stopped
    volumes:
      - woodpecker-data:/var/lib/woodpecker/
  agent:
    command: agent
    container_name: woodpecker-agent
    depends_on:
      - server
    env_file:
      - path: ./.env
        required: false
    hostname: agent
    image: woodpeckerci/woodpecker-agent:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  woodpecker-data:
