---
# https://hub.docker.com/_/adminer
# https://github.com/TimWolla/docker-adminer
services:
  adminer:
    container_name: adminer
    env_file:
      - path: ./.env
        required: false
    hostname: adminer
    image: adminer:latest
    ports:
      - 8080:8080
    restart: unless-stopped
