---
# https://hub.docker.com/r/rclone/rclone

services:
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    hostname: rclone
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    volumes:
      - ./app:/app
    entrypoint: ["/bin/sh", "/app/backup.sh", "cron"]
