---
services:
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    restart: unless-stopped
    env_file:
    - ./.env
    volumes:
    - ./app:/app
    - /srv/rclone:/config
    - ${DATA}:/data
    entrypoint: [/bin/sh, /app/backup.sh, cron]
