---
# https://hub.docker.com/r/finab/bark-server

services:
  bark:
    image: finab/bark-server:latest
    container_name: bark
    hostname: bark
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 8080:8080
