---
# https://hub.docker.com/r/finab/bark-server

services:
  bark:
    image: finab/bark-server:latest
    container_name: bark
    hostname: bark
    restart: unless-stopped
    ports:
    - ${BARK_PORT:-8080}:8080
