---
services:

  wordpress:
    image: wordpress:latest
    restart: unless-stopped
    ports:
      - ${SERV_PORT:-8080}:80
    volumes:
      - ./data/wordpress:/var/www/html
    depends_on:
      - db
  db:
    image: mysql:9
    restart: unless-stopped
    volumes:
      - ./data/mysql:/var/lib/mysql
