---
# https://hub.docker.com/r/dutchcoders/transfer.sh

services:
  transfer:
    image: dutchcoders/transfer.sh:latest
    container_name: transfer
    restart: unless-stopped
    ports:
      - ${SERV_PORT:-8080}:8080
    command: [--provider, local, --basedir, /tmp/]
