---
# https://github.com/jetsung/shortener
services:
  backend:
    container_name: shortener-server
    depends_on:
      - valkey
    env_file:
      - path: ./.env
        required: false
    healthcheck:
      disable: true
    hostname: shortener
    image: jetsung/shortener-server:latest
    restart: unless-stopped
    user: 0:0
    volumes:
      - ./config.toml:/app/config.toml
  frontend:
    container_name: shortener-frontend
    hostname: shortener
    image: jetsung/shortener-frontend:latest
    restart: unless-stopped
  valkey:
    hostname: valkey
    image: valkey/valkey:latest
    restart: unless-stopped
  nginx:
    container_name: shortener-nginx
    hostname: shortener
    image: nginx:alpine
    ports:
      - 80:80
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
