---
# https://github.com/jetsung/shortener

services:
  backend:
    image: jetsung/shortener-server:latest
    container_name: shortener-server
    hostname: shortener
    restart: unless-stopped
    user: 0:0
    volumes:
      - ./config.toml:/app/config.toml
    healthcheck:
      disable: true
    depends_on:
      - valkey
  frontend:
    image: jetsung/shortener-frontend:latest
    container_name: shortener-frontend
    hostname: shortener
    restart: unless-stopped

  valkey:
    image: valkey/valkey:latest
    hostname: valkey
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: shortener-nginx
    hostname: shortener
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
