---
# https://hub.docker.com/_/mariadb
services:
  mariadb:
    container_name: mariadb
    env_file:
      - path: ./.env
        required: false
    image: mariadb:latest
    ports:
      - 3306:3306
    restart: unless-stopped
