---
# https://hub.docker.com/_/mariadb

services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 3306:3306
    volumes:
      - ./data:/var/lib/mysql
