---
# https://hub.docker.com/r/neilpang/acme.sh

services:
  acme:
    image: neilpang/acme.sh:latest
    container_name: acme.sh
    hostname: acme
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    command: ["daemon"]
