---
# https://hub.docker.com/_/mysql

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - 3306:3306
