---
# https://hub.docker.com/r/ollama/ollama
x-ollama-common: &ollama-common
  container_name: ollama
  env_file:
    - path: ./.env
      required: false
  hostname: ollama
  restart: unless-stopped
services:
  ollama:
    ports:
      - 11434:11434
    image: ollama/ollama:latest
    profiles:
      - ollama
  rocm:
    devices:
      - /dev/kfd
      - /dev/dri
    image: ollama/ollama:rocm
    profiles:
      - rocm
