---
# https://hub.docker.com/r/neosmemo/memos

services:
  memos:
    image: neosmemo/memos:latest
    container_name: memos
    hostname: memos
    restart: unless-stopped
    ports:
      - ${SERV_PORT:-3000}:5230
    volumes:
      - ./data:/var/opt/memos
