---
# https://hub.docker.com/r/neosmemo/memos

services:
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    hostname: memos
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 5230:5230
