---
# https://hub.docker.com/r/wizjin/chanify

services:
  chanify:
    image: wizjin/chanify:latest
    container_name: chanify
    hostname: chanify
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - ${SERV_PORT:-80}:80
    volumes:
      - ./data:/data
      - ./chanify.yml:/root/.chanify.yml
