---
# https://hub.docker.com/r/stalwartlabs/stalwart
x-stalwart-common: &stalwart-common
  container_name: stalwart
  env_file:
    - path: ./.env
      required: false
  hostname: stalwart
  image: stalwartlabs/stalwart:latest
  restart: unless-stopped
  stdin_open: true
  tty: true
services:
  stalwart:
    <<: *stalwart-common
    ports:
      - 443:443
      - 8080:8080
      - 25:25
      - 587:587
      - 465:465
      - 143:143
      - 993:993
      - 4190:4190
      - 110:110
      - 995:995
    profiles:
      - server1
  stalwart-2:
    <<: *stalwart-common
    network_mode: host
    ports: !reset []
    profiles:
      - server2
  stalwart-3:
    <<: *stalwart-common
    ports: !reset []
    profiles:
      - server3
  stalwart-4:
    <<: *stalwart-common
    ports: !reset []
    profiles:
      - server4
