---
# https://hub.docker.com/r/stalwartlabs/mail-server

services:
  mail-server:
    env_file:
      - path: ./.env
        required: false
    image: stalwartlabs/mail-server:latest
    container_name: stalwart-mail
    hostname: stalwart-mail
    tty: true
    stdin_open: true
    volumes:
      - ./data:/opt/stalwart-mail
      - /opt/stalwart-mail/webadmin.zip:/app/webadmin.zip
    ports:
      - 8080:8080
      - 443:443
      - 25:25
      - 465:465
      - 587:587
      - 143:143
      - 993:993
      - 110:110
      - 995:995

  mail-server-host:
    image: stalwartlabs/mail-server:latest
    container_name: stalwart-mail
    tty: true
    stdin_open: true
    volumes:
      - ./data:/opt/stalwart-mail
      - /opt/stalwart-mail/webadmin.zip:/tmp/webadmin.zip
    network_mode: host
    profiles:
      - host
