---
# https://hub.docker.com/r/forkdo/mindoc

services:
  mindoc:
    image: forkdo/mindoc:latest
    container_name: mindoc
    privileged: false
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 8181:8181
