---
# https://hub.docker.com/r/forkdo/mindoc

services:
  mindoc:
    image: forkdo/mindoc:latest
    container_name: mindoc
    privileged: false
    restart: unless-stopped
    ports:
      - ${SERV_PORT:-8181}:8181
    volumes:
      - ./data:/mindoc-sync-host
    dns:
      - 223.5.5.5
      - 223.6.6.6
