---
# https://hub.docker.com/_/postgres
services:
  postgres:
    container_name: postgres
    env_file:
      - path: ./.env
        required: false
    hostname: postgres
    image: postgres:latest
    ports:
      - 5432:5432
    restart: unless-stopped
