---

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    env_file:
    - ./.env
    ports:
    - ${PGSQL_PORT}:5432
    volumes:
    - ./data:/var/lib/postgresql/data
