---
# http://hub.docker.com/r/getmeili/meilisearch

services:
  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false
    ports:
      - 7700:7700
