---
# https://hub.docker.com/_/redis
# https://github.com/redis/docker-library-redis
services:
  redis:
    container_name: redis
    env_file:
      - path: ./.env
        required: false
    hostname: redis
    image: redis:latest
    ports:
      - 6379:6379
    restart: unless-stopped
